.jumbotron {
  /* padding-top: 6rem; */
  background-color: #aac4ff;
}

#about {
  background-color: #d2daff;
}

#projects {
  background-color: #eef1ff;
}

#contact {
  background-color: #d2daff;
}

section {
  padding-top: 6rem;
}
